# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/Pods/
android/app/build/
android/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env files
.env
.env.*

# Metro
.metro-health-check*

# macOS
.DS_Store

# Editor
*.swp
*.swo
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
